<nav class="w-screen bg-gray-900 h-fit">
  <div
    class="py-4 lg:px-8 px-4 max-w-[1280px] h-16 m-auto text-white flex items-center justify-between"
  >
    <div>
      <h1
        class="lg:text-2xl text-xl uppercase tracking-wider cursor-pointer font-bold"
      >
        Blogify
      </h1>
    </div>
    <div
      class="flex lg:gap-8 gap-6 uppercase tracking-wider cursor-pointer text-lg items-center"
      id="navItems"
    >
      <span class="group">
        <a href="/">HOME</a>
        <div
          class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
        ></div>
      </span>
      <% if (locals.user) { %>
      <span class="group">
        <a href="/blog/addNew">Add Blog</a>
        <div
          class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
        ></div>
      </span>
      <span class="group">
        <!-- <div
            class="min-h-screen bg-white py-6 flex flex-col justify-center sm:py-12"
          > -->
        <div class="flex items-center justify-center">
          <div class="relative inline-block text-left dropdown">
            <span class="rounded-md shadow-sm"
              ><button
                class="inline-flex justify-center w-full p-2 text-sm font-medium leading-5 transition duration-150 ease-in-out border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                type="button"
                aria-haspopup="true"
                aria-expanded="true"
                aria-controls="headlessui-menu-items-117"
              >
                <span><%= locals.user.name %></span>
                <svg
                  class="w-5 h-5 ml-2 -mr-1"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg></button
            ></span>
            <div
              class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95"
            >
              <div
                class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                aria-labelledby="headlessui-menu-button-1"
                id="headlessui-menu-items-117"
                role="menu"
              >
                <div class="px-4 py-3">
                  <p class="text-sm leading-5 text-black">Signed in as</p>
                  <p
                    class="text-sm font-medium leading-5 text-gray-900 truncate"
                  >
                    <%= locals.user.name %>
                  </p>
                </div>
                <div class="py-1">
                  <a
                    href="/user/logout"
                    tabindex="3"
                    class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                    role="menuitem"
                    >Sign out</a
                  >
                </div>
              </div>
            </div>
            <% } else { %>
            <span class="group">
              <a href="/user/signup">Create Account</a>
              <div
                class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
              ></div>
            </span>
            <span class="group">
              <a href="/user/signin">SignIn</a>
              <div
                class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
              ></div>
            </span>
            <% } %>
          </div>
        </div>
        <!-- </div> -->
      </span>
    </div>
    <div
      id="hamburger"
      class="fa fa-bars flex items-center text-xl"
      style="display: none"
    ></div>
    <div
      id="mobileNav"
      class="fixed flex flex-col gap-8 pt-16 px-4 text-xl uppercase bg-teal-500 h-full inset-0 top-16 w-[70%] left-[-70%] ease-in-out duration-500 cursor-pointer"
    >
      <span>Services</span>
      <span>About</span>
      <span>Contact</span>
    </div>
  </div>
</nav>

<style>
  .dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }
</style>

<% if (locals.error) { %>
<div class="bg-red-600 text-white p-3 px-6 text-xl"><%= locals.error %></div>
<% } %>
